@model Finance_Tracking.Models.Institution

@{
    ViewBag.Title = "InstitutionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Institution Details</h2>

<div class="col-md-8">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Institution_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution_Telephone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution_Telephone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution_Email_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution_Email_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution_Physical_Address)
        </dt>
        <dd>
            <ul class="residential-address">
                <li>@Html.DisplayFor(model => model.Street_Name)</li>
                <li>@Html.DisplayFor(model => model.Sub_Town)</li>
                <li>@Html.DisplayFor(model => model.City)</li>
                <li>@Html.DisplayFor(model => model.Province)</li>
                <li>@Html.DisplayFor(model => model.Zip_Code)</li>
            </ul>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Institution_Postal_Address)
        </dt>
        <dd>
            <ul class="residential-address">
                <li>@Html.DisplayFor(model => model.Postal_box)</li>
                <li>@Html.DisplayFor(model => model.Town)</li>
                <li>@Html.DisplayFor(model => model.City_Post)</li>
                <li>@Html.DisplayFor(model => model.Province_Post)</li>
                <li>@Html.DisplayFor(model => model.Postal_Code)</li>
            </ul>
        </dd>

    </dl>
</div>
<div class="row col-md-4">
    <div class="btn-block">
        <a href='@Url.Action("ViewEmployees", "Institution")'>
            <input type="button" name="selection" value="Employees" class="btn btn-default btn-block" />
        </a>
    </div>
    <div class="btn-block">
        <a href='@Url.Action("MaintainInstitution", "Institution")'>
            <input type="button" name="selection" class="btn btn-default btn-block" value="Maintain Details" />
        </a>
    </div>
    <div class="btn-block">
        <a href='@Url.Action("DeleteInstitution", "Institution")'>
            <input type="button" name="selection" class="btn btn-default btn-block" value="Delete Institution" />
        </a>
    </div>
    <div class="btn-block">
        <a href='@Url.Action("Index", "Institution")'>
            <input type="button" name="selection" class="btn btn-default btn-block" value="Dashboard" />
        </a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}