@model Finance_Tracking.Models.Finacial_Record

@{
    ViewBag.Title = "UploadFinacialStatement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Finacial Statement</h2>

@using (Html.BeginForm("UploadFinacialStatement", "Institution", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Student_Number)
        <fieldset>
            <legend>For the year</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.Academic_Year, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Academic_Year, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Academic_Year, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Balance_Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Balance_Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Balance_Amount, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <fieldset class="documents-fieldset">
            <legend class="documents-legend"> @Html.LabelFor(model => model.Upload_Finacial_Statement)</legend>
            <div class="form-group">
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Upload_Finacial_Statement, "", new { @type = "file", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.Upload_Finacial_Statement, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
    </div>
    <div class="container-btn">
        <div class="left-btn-flex">
            <a href='@Url.Action("ViewEnrolledStudent", "Institution", new {id = Model.Student_Number})'>
                <div>
                    <input type="button" name="selection" value="Cancel" class="btn btn-default" />
                </div>
            </a>
        </div>
        <div class="right-btn-flex">
            <div>
                <input type="submit" name="selection" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}