@model Finance_Tracking.Models.EnrolledStudentsViewModel

@{
    ViewBag.Title = "ViewFundedStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Funded Students</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FundedStudent.Student_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundedStudent.Student_Identity_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundedStudent.Student_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundedStudent.Institution_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundedStudent.Application_Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Identity_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institution_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application_Status)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewStudent", new { id = item.Student_Number })
            </td>
        </tr>
    }
</table>
<div class="container-btn">
    <div class="left-btn-flex">
        <a href='@Url.Action("Index", "Institution")'>
            <div>
                <input type="button" name="selection" value="Back" class="btn btn-default" />
            </div>
        </a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}