@model Finance_Tracking.Models.Application

@{
    ViewBag.Title = "UpdateFundingStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bursary Agreement</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Application_ID)
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <th class="col-md-4">
                        @Html.Label("Bursary aggreement")
                    </th>
                </tr>

                <tr>
                    <td>
                        @Html.ActionLink("Downlaod", "DownLoadFile", new { id = Model.Application_ID })
                    </td>
                </tr>

            </table>
        </div>
        <div class="form-group">
            @Html.Label("Agreement status", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Application_Status, new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Select", Value = "Select" , Selected =true},
                        new SelectListItem{ Text="Approve", Value = "Agreement Approved" },
                        new SelectListItem{ Text="Reject", Value = "Agreement Rejectd" },
                        }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Application_Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="container-btn row">
                <div class="col-md-4">
                    <a href='@Url.Action("ViewApplication", "Funder", new { id = Model.Application_ID })'>
                        <div>
                            <input type="button" name="selection" value="Cancel" class="btn btn-default" />
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("UploadBursaryAgreement", "Funder", new { id = Model.Application_ID })'>
                        <div>
                            <input type="button" name="selection" value="Upload Bursary Agreement" class="btn btn-default" />
                        </div>
                    </a>
                </div>
                <div class="three-btn-flex col-md-4">
                    <div>
                        <input type="submit" name="selection" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

