@model Finance_Tracking.Models.Application

@{
    ViewBag.Title = "UpdateFundingStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Funding Status</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Application_ID)
        @Html.HiddenFor(model => model.Bursary_Code)
        <div class="form-group">
            <p>Current status for application @Html.DisplayFor(model => model.Application_ID) is @Html.DisplayFor(model => model.Application_Status)</p>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Application_Status, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Application_Status, new List<SelectListItem>
                     {
                       new SelectListItem{ Text="Select", Value = null, Selected =true},
                        new SelectListItem{ Text="Application Received", Value = "Received" },
                        new SelectListItem{ Text="Approve (Provisional)", Value = "Provisionally Approved" },
                        new SelectListItem{ Text="Approve (Final)", Value = "Approved" },
                        new SelectListItem{ Text="Reject Application", Value = "Rejected" },
                        new SelectListItem{ Text="Incomplete Application", Value = "Incomplete" },
                        new SelectListItem{ Text="Application Under Review", Value = "Under Review" },
                        new SelectListItem{ Text="Invite For Interview", Value = "Interview" },
                        new SelectListItem{ Text="Shortlist Application", Value = "Shortlisted" },
                        new SelectListItem{ Text="In Progress", Value = "In Progress" },
                        new SelectListItem{ Text="Missing Documents", Value = "Missing Documents" },
                        new SelectListItem{ Text="Agreement Sent", Value = "Agreement Sent" },
                        }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Application_Status, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.WrongChoice</span>
            </div>
        </div>

        <div class="form-group">
            <div class="container-btn">
                <div class="left-btn-flex">
                    <a href='@Url.Action("ViewApplication", "Funder", new { id = Model.Application_ID })'>
                        <div>
                            <input type="button" name="selection" value="Cancel" class="btn btn-default" />
                        </div>
                    </a>
                </div>
                <div class="right-btn-flex">
                    <div>
                        <input type="submit" name="selection" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
