@model Finance_Tracking.Models.Bursary

@{
    ViewBag.Title = "ViewBursary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Bursary</h2>

<div class="col-md-8">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bursary_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bursary_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funder_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funder_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bursary_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bursary_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funding_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funding_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="row col-md-4">
    <div class="btn-block">
        <a href='@Url.Action("DeleteBursary", "Funder", new { id = Model.Bursary_Code })'>
            <div>
                <input type="button" name="selection" value="Delete" class="btn btn-default" />
            </div>
        </a>
    </div>
    <div class="btn-block">
        <a href='@Url.Action("MaintainBursary", "Funder", new { id = Model.Bursary_Code })'>
            <div>
                <input type="button" name="selection" value="Maintain" class="btn btn-default" />
            </div>
        </a>
    </div>
    <div class="btn-block">
        <a href='@Url.Action("ViewBursaries", "Funder")'>
            <div>
                <input type="button" name="selection" value="Back" class="btn btn-default" />
            </div>
        </a>
    </div>
</div>
