@model IEnumerable<Finance_Tracking.Models.Bursary>

@{
    ViewBag.Title = "ViewBursarys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewBursarys</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bursary_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funder_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bursary_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bursary_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funder_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bursary_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bursary_Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Bursary_Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bursary_Code })
        </td>
    </tr>
}

</table>
