@model Finance_Tracking.Models.BursarFundView

@{
    ViewBag.Title = "ViewBursar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bursar</h2>

<div class="row col-md-8">
    @Html.HiddenFor(model => model.Application_ID)
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Student_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Identity_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Identity_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Cellphone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Cellphone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_Fund_Request)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_Fund_Request)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funding_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funding_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved_Funds)
        </dt>

        <dd>
            <span>R</span>
            @Html.DisplayFor(model => model.Approved_Funds)
        </dd>

    </dl>
</div>
<div class="row col-md-4">
    <div class="btn-block">
        <a href='@Url.Action("MaintainFunds", "Funder", new { id = Model.Application_ID })'>
            <div>
                <input type="button" name="selection" value="Maintain Funds" class="btn btn-default btn-block" />
            </div>
        </a>
    </div>
    
    <div class="btn-block">
        <a href='@Url.Action("UpdateFundRequest", "Funder", new { id = Model.Application_ID })'>
            <div>
                <input type="button" name="selection" value="Update Fund Request" class="btn btn-default btn-block" />
            </div>
        </a>
    </div>
    <div class="btn-block">
        <a href='@Url.Action("ViewAllBursars", "Funder")'>
            <div>
                <input type="button" name="selection" value="Back" class="btn btn-default btn-block" />
            </div>
        </a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}