@model Finance_Tracking.Models.Enrolled_At

@{
    ViewBag.Title = "DeleteInstitutionInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Institution Info</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_Identity_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Identity_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Study_Residential_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Study_Residential_Address)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container-btn">
            <div class="left-btn-flex">
                <a href='@Url.Action("ViewInstitutionInfo", "Student", new { id = Model.Student_Number })'>
                    <div>
                        <input type="button" name="selection" value="Cancel" class="btn btn-default" />
                    </div>
                </a>
            </div>
            <div class="right-btn-flex">
                <div>
                    <input type="submit" name="selection" value="Delete" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
