@model Finance_Tracking.Models.Student

@{
    ViewBag.Title = "DeleteStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Profile</h2>

<h3>Would you like to delete the profile of @Html.DisplayFor(model => model.Student_FName) @Html.DisplayFor(model => model.Student_LName)?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Student_Identity_Number)
        @Html.AntiForgeryToken()

        <div class="container-btn">
            <div class="left-btn-flex">
                <a href='@Url.Action("Index", "Student")'>
                    <div>
                        <input type="button" name="selection" value="Cancel" class="btn btn-default" />
                    </div>
                </a>
            </div>
            <div class="right-btn-flex">
                <div>
                    <input type="submit" name="selection" value="Yes" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}