@model Finance_Tracking.Models.Enrolled_At

@{
    ViewBag.Title = "DeleteInstitutionInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Would you like to deregister this institution?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Student_Number)
        @Html.HiddenFor(model => model.Institution_Name)
        @Html.HiddenFor(model => model.Qualification)
        <div class="container-btn">
            <div class="left-btn-flex">
                <a href='@Url.Action("ViewInstitutionInfo", "Student", new { id = Model.Student_Number })'>
                    <div>
                        <input type="button" name="selection" value="Cancel" class="btn btn-default" />
                    </div>
                </a>
            </div>
            <div class="right-btn-flex">
                <div>
                    <input type="submit" name="selection" value="Yes" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}