@model Finance_Tracking.Models.Application

@{
    ViewBag.Title = "ViewBursaryAgreement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bursary Agreement</h2>
<div class="col-md-8">
    <span class="text-danger">@ViewBag.DownloadFailed</span>
    <span class="text-success">@ViewBag.DownloadSucceful</span>
</div>

<div class="row col-md-4">
    @if (Model.Upload_Agreement != null)
    {
        <div class="btn-block">
            <a href="@Url.Action("DownloadBursaryAgreement", "Student")">
                <div>
                    <input type="button" name="selection" value="Download Agreement" class="btn btn-default btn-block" />
                </div>
            </a>
        </div>
    }
    <div class="btn-block">
        <a href='@Url.Action("UploadSignedAgreement", "Student")'>
            <div>
                <input type="button" name="selection" value="Upload Signed Agreement" class="btn btn-default btn-block" />
            </div>
        </a>
    </div>
    <div class="btn-block">
        <a href="@Url.Action("TrackFunding", "Student")">
            <div>
                <input type="button" name="selection" value="Back" class="btn btn-default btn-block" />
            </div>
        </a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}