<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Finance Tracking</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="header-logo">
            @Html.ActionLink("Finance Tracking", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*<a  href="@Url.Action("Index", "Home")">
                <img id="logo" alt="@ViewBag.Title" src="@Url.Content("/Images/Finance Tracking-1.jpg")">
            </a>*@
        </div>
    </header>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Session["user"] != null && (Session["user"].ToString()).Equals("STUDENT_USER"))
                    {
                        <li>@Html.ActionLink("Home", "Index", "Student")</li>
                    }
                    else if (Session["user"] != null && (Session["user"].ToString()).Equals("INSTITUTION_USER"))
                    {
                        <li>@Html.ActionLink("Home", "Index", "Institution")</li>
                    }
                    else if (Session["user"] != null && (Session["user"].ToString()).Equals("FUNDER_USER"))
                    {
                        <li>@Html.ActionLink("Home", "Index", "Funder")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (ViewBag.Status != null && ViewBag.Status.Equals("false"))
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("LogOut", "LogOut", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
            @RenderBody()
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Enemy Of Syntex</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
