@using Finance_Tracking.Models
@model ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <span class="text-danger">@ViewBag.Error</span>
    <article>
        @Html.LabelFor(model => model.Code)
    </article>
    <article>
        @Html.PasswordFor(model => model.Code, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
    </article>
    <article>
        @Html.LabelFor(model => model.Password)
    </article>
    <article>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </article>
    <article>
        @Html.LabelFor(model => model.ConfirmPassword)
    </article>
    <article>
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </article>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default center-block" value="Change Password" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
