@using Finance_Tracking.Models
@model SendEmailViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot your password?</h2>

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <span class="text-danger">@ViewBag.Error</span>
    <span class="text-danger">@ViewBag.NotUser</span>
    @Html.ValidationSummary("", new { @class ="text-danger" })
    <div class="form-group">
        <article>
            @Html.LabelFor(model => model.UserType)
        </article>
        <article>
            @Html.DropDownListFor(model => model.UserType, new List<SelectListItem>
        {
           new SelectListItem{ Text="Select", Value = "None" , Selected =true},
           new SelectListItem{ Text="Student", Value = "STUDENT_USER" },
           new SelectListItem{ Text="Institution", Value = "INSTITUTION_USER" },
           new SelectListItem{ Text="Funder", Value = "FUNDER_USER" },
        }, new { @class = "login-input form-control", @id = "active-user", @onchange = "changeUser()" })
        </article>
        <article>
            @Html.LabelFor(model => model.ToEmail, htmlAttributes: new { @id = "change-user" })
        </article>
        <article>
            @Html.EditorFor(model => model.ToEmail, new { htmlAttributes = new { @class = "login-input form-control", @placeholder = "Please select user type first" } })
            @Html.ValidationMessageFor(model => model.ToEmail, "", new { @class = "text-danger" })
        </article>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default center-block" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
