@using Finance_Tracking.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="login-row">
    <div id="loginForm" >
        <h2>@ViewBag.Title.</h2>
        @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-horizontal2", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <span class="text-danger">@ViewBag.LoginFailed</span>
            <section class="login-form">
                <section class="login-row">
                    <article>
                        @Html.LabelFor(model => model.UserType)
                    </article>
                    <article>
                        @Html.DropDownListFor(model => model.UserType, new List<SelectListItem>
                    {
                       new SelectListItem{ Text="Select", Value = "None" , Selected =true},
                       new SelectListItem{ Text="Student", Value = "STUDENT_USER" },
                       new SelectListItem{ Text="Institution", Value = "INSTITUTION_USER" },
                       new SelectListItem{ Text="Funder", Value = "FUNDER_USER" },
                    }, new { @class = "login-input form-control", @id = "active-user", @onchange = "changeUser()" })
                    </article>
                </section>
                <section class="login-row">
                    <article>
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @id = "change-user" })
                    </article>
                    <article>
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "login-input form-control", @id = "username", @placeholder = "Please select user type first" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </article>
                </section>
                <section class="login-row">
                    <article>
                        @Html.LabelFor(model => model.Password)
                    </article>
                    <article>
                        @Html.PasswordFor(model => model.Password, new { @class = "login-input form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </article>
                </section>
                <section class="login-row login-container">
                    <article class="col-md-6" id="check-remember">
                        @Html.CheckBoxFor(model => model.Remember_username, new { @class = "remember-username" })
                        @Html.LabelFor(model => model.Remember_username, new { @class = "remember-username-label" })
                    </article>
                    <article class="col-md-6 forgot-password">
                        @Html.ActionLink("Forgot password?", "ForgotPassword")
                    </article>
                </section>
                <section class="login-row">
                    <article class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" id="login-btn" />
                    </article>
                    <article id="new-users">
                        <p>
                            Don't have an account? @Html.ActionLink("Sign Up", "SignUp")
                        </p>
                    </article>
                </section>
            </section>            
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}