@using Finance_Tracking.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input id="Radio-Student" type="radio" value="Student" name="user-type" />
                <label for="student">Student</label>
                <input id="Radio-Institution" type="radio" value="Institution" name="user-type" />
                <label for="institution">Institution</label>
                <input id="Radio-Funder" type="radio" value="Funder" name="user-type" />
                <label for="funder">Funder</label>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="col-forgot-password" colspan="2">
                            <div>
                                @Html.ActionLink("Forgot password?", "ForgotPassword")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="col-remember-me" colspan="2">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td id="col-login" colspan="2">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Log in" class="btn btn-default" id="login-btn" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Don't have an account? @Html.ActionLink("Sign Up", "Register")
                            </p>
                        </td>
                    </tr>
                </table>

            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}